<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>선수등록</h2>
    <form action="/registration" method="post">
    선수명 : <input type="text" name="playerName" placeholder="* 필수항목"/><br>
    포지션 : <input type="text" name="playerPosition"/><br>
    키 : <input type="text" name="playerToll"/><br>
    나 이 : <input type="text" name="playerAge"/><br>
    백넘버 : <input type="text" name="playerBackNumber"/><br>
    <input type="submit" value="등록">
    </form>
</body>
</html>